body {
  background: #000;
  font-size: 100%;
  line-height: 1.5;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

* { box-sizing: border-box; }

a,
small {
  color: #fff !important;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease; /* Safari */
  transition: all 0.5s ease;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

a.read-more {
  display: block;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.4);
  text-decoration: none;
  padding: 0.5rem;
  margin: 1rem 0;
}

a.read-more:hover {
  background-color: rgba(255,255,255,0.1);
}


/* Content */

#content {
  top: 0;
}

.box {
  background-color: rgba( 255,255,255, 0.3);
  position: absolute; top: 0; left: 0; width: 33%;
  padding: 1.5rem;
}

.tab-content {
  padding: 1rem 0;
}

/* Video */

.video {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 768px) {
  .box { width: 100%; }
  h1 {
    position: absolute;
  }
}

/* Reddit */

.rembeddit {

}

.reddit-header,
.reddit-voting-arrows,
.reddit-title img,
.reddit-entry small {
  display: none;
}

.reddit-entry {
  margin-bottom: 1.5rem;
}

/* Accordion responsive breakpoint */
@media all and (min-width: 768px) {
  .box .tab-content > .tab-pane {
    display: block;
  }
  .box .nav-tabs {
    display: none;
  }
}
