
body {
  font-size: 100%;
  line-height: 1.5;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

* { box-sizing: border-box; }

a,
small {
  color: #fff !important;
}

a {
  text-decoration: none;
}

/* Content */

#content {
	top: 0;
}

.box {
  background-color: rgba( 255,255,255, 0.3);
  position: absolute; top: 0; right: 0; width: 33%;
}

.wikipedia {
  padding: 10px;
}


/* Video */

.video {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 800px) {
  .box { width: 100%; top: 60%; }
}

/* Reddit */

.rembeddit {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  border: 0 !important;
  color: #fff !important;
  background-color: transparent !important;
}
.reddit-header {
  background-color: transparent !important;
}

.reddit-title {
  font-weight: normal !important;
  font-size: 0.8333rem;
}

.reddit-title img {
  display: none;
}

.reddit-entry {
  margin-bottom: 1.5rem;
}

.reddit-link-title {
  font-size: 1rem !important;
}
